option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: littlelemon.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: littlelemon.settings

container_commands:
  01_fix_proxy:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        set -xe
        /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx
  02_migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
    leader_only: true